/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
  }
  
  .contenedor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
  
  nav {
    display: flex;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
  }
  
  nav ul li a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #f96332; /* Cambia el color al pasar el cursor */
  }
  
  /* Animación para la barra de navegación */
  nav ul li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #f96332;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  nav ul li:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }
  
  /* Estilos para la sección de usuario */
  .seccion-usuario {
    display: flex;
    align-items: center;
  }
  
  .seccion-usuario a {
    font-size: 16px;
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s; /* Agregar transición de color */
  }
  
  .seccion-usuario a:hover {
    color: #f96332; /* Cambia el color al pasar el cursor */
  }
  
  .seccion-usuario a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #f96332; /* Cambia el color de la línea subrayada */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .seccion-usuario a:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }
  /* ================================= */ /* ================================= */ /* ================================= */
  
  /* Estilos para el cuerpo */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex; /* Utiliza flexbox para el diseño */
    flex-direction: column; /* El contenido se organiza en columna */
    min-height: 100vh; /* El cuerpo ocupa al menos toda la altura de la ventana */
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  a {
    color: #f96332;
    text-decoration: none;
    transition: 0.3s; /* Transición suave para los enlaces */
  }
  
  a:hover {
    color: #f63507;
  }
  /* ================================= */ /* ================================= */ /* ================================= */
  
  /* Estilos para el pie de página */
  footer {
    background-color: #333;
    color: #fff;
    padding: 50px 20px;
  }
  
  .contenedor-footer {
    display: flex;
    justify-content: space-around;
  }
  
  .seccion-informacion,
  .seccion-enlaces,
  .seccion-redes-sociales {
    flex: 1;
    text-align: center;
  }
  
  .seccion-informacion h3,
  .seccion-enlaces h3,
  .seccion-redes-sociales h3 {
    margin-bottom: 20px;
  }
  
  .seccion-informacion p,
  .seccion-enlaces ul,
  .seccion-redes-sociales ul {
    margin-bottom: 20px;
  }
  
  .seccion-enlaces a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .seccion-enlaces a:hover {
    color: #f96332;
  }
  
  .seccion-enlaces ul,
  .seccion-redes-sociales ul {
    padding-left: 0;
    list-style: none;
  }
  
  .seccion-enlaces ul li,
  .seccion-redes-sociales ul li {
    margin-bottom: 10px;
  }
  
  .seccion-redes-sociales ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .seccion-redes-sociales ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .seccion-redes-sociales ul li a {
    color: #fff;
    font-size: 1.5em;
  }
  
  .seccion-redes-sociales ul li a:hover {
    color: #ddd;
  }
  